header {
  margin-bottom: 0;
  padding: 1rem 1rem;
}

header > h1 {
  font-size: 2rem;
  font-weight: normal;
}

header > p {}

body > footer {
  margin-top: 3rem;
  padding: 2rem 0;
  background: #f5f5f5;
}

body > footer > p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  text-align: center;
}

.demo {
  max-width: 480px;
  margin: 0 auto;
}

.puzzle {
  margin-bottom: 1rem;
}

.keybinding {
  float: right;
}

.keybinding > kbd {
  font-size: 75%;
}

pre {
    background-color: #f7f7f9;
    padding: 0.5rem 1rem;
    max-height: 200px;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    overflow: auto;
}

dt {
    font-weight: normal;
}

dt > code {
    color: #007bff;
}

dt > code > strong {
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    margin-right: 4px;
}

#puzzle-1-show-hint:hover, #puzzle-3-show-hint:hover {
    cursor: -webkit-grab;
    cursor: grab;
}

#puzzle-1-show-hint:active, #puzzle-3-show-hint:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.Puzzle::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -4px;
    background-image: linear-gradient(to bottom right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    background-size: 200% 200%;
    border-radius: inherit;
    opacity: 0;
    filter: blur(8px);
    z-index: -1;
}

.Puzzle.Puzzle-solved::before {
    animation: animate 8s linear;
}

@keyframes animate {
    0% {
        background-position: 0% 0%;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        background-position: 100% 100%;
        opacity: 0;
    }
}

.console {
  background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
  margin-bottom: 1rem;
}

.console-rows {
    max-height: 300px;
    color: #666;
    overflow-y: auto;
}

.console-row {
  border-bottom: 1px solid #e1e1e8;
}

.console-row:last-child {
  border-bottom: 0;
}

.console-input, .console-output, #console-textarea {
  margin: 0;
  padding: 0.25rem 0.25rem 0.25rem 1.5rem;
  font-size: 87.5%;
    overflow: hidden;
}

.console-input, .console-output {
    overflow-x: auto;
    border: 0;
    border-radius: 0;
    color: inherit;
    background: none;
}

#console-textarea {
    overflow-y: auto;
}

.console-prompt {
    overflow: hidden;
    border-top: 1px solid #e1e1e8;
}

.console-input, .console-output, .console-prompt {
    position: relative;
}

.console-input::before, .console-output::before, .console-prompt::before {
  content: "\00BB";
  display: block;
  position: absolute;
  left: 0.5rem;
    color: #ccc;
    transform: scale(1.5);
}

.console-prompt::before {
    color: #007bff;
}

.console-output::before {
    content: "\00AB"
}

#console-textarea {
  resize: none;
  background: none;
  font-family: Menlo, consolas, monospace;
  border: 0;
  display: block;
  width: 100%;
  outline: none;
  line-height: inherit;
  overflow: hidden;
  overflow-y: auto;
}

.love {
  margin: 0 0.2em;
}

.love:after {
  content: "\2764";
  display: inline-block;
  -webkit-animation: pulse 1s ease-in-out infinite;
          animation: pulse 1s ease-in-out infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }

  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }

  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }

  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }

  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
